.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: #101828;
    transform: translateY(-100%);
    transition: transform 0.3s ease;
    z-index: 1000;
}

.menuOpen {
    transform: translateY(0);
}

.closeButton,
.closeButton:hover {
    background: none;
    border: none;
    font-size: 20px;
    padding: 15px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    fill: #fff;
    transition: fill 0.3s ease;
}

.closeButton:hover {
    fill: #1e90ff;
}