.productDetails {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 100px;
}

.slider {
    width: 90%;
    margin-bottom: 20px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.imageContainer {
    display: flex;
    justify-content: center;
}

.productImage {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 5px;
}

.productName {
    font-size: 2rem;
}

.productDescription {
    font-size: 1.2rem;
}

.priceContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.productPrice {
    font-size: 1.5rem;
    font-weight: bold;
}