.productList {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.productChildren {
    flex: 1 1 calc(33.333% - 10px);
    box-sizing: border-box;
    min-width: 150px;
}

.productCard {
    border: 1px solid #ddd;
    padding: 16px;
    background-color: #fff;
    border-radius: 4px;
    text-align: center;
    transition: box-shadow 0.3s, transform 0.3s;
}

.productCard:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
}

.productCardImageContainer {
    width: 100%;
    padding-top: 75%;
    position: relative;
    margin-bottom: 10px;
}

.productCardImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.productCardName {
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    color: #333;
}

.productCardDescription {
    font-size: clamp(0.75rem, 2vw, 1rem);
    color: #777;
    margin-bottom: 12px;
}

.productCardPrice {
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    color: #000;
    font-weight: bold;
    margin-bottom: 16px;
}

.productCardButton {
    width: 100%;
    padding: clamp(8px, 2vw, 12px);
    font-size: clamp(0.875rem, 2vw, 1rem);
    transition: background-color 0.3s ease;
}