/* src/components/AddProduct.module.css */

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.form {
    display: flex;
    flex-direction: column;
}

.formGroup {
    margin-bottom: 15px;
}

.label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input,
.textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.textarea {
    height: 100px;
    resize: vertical;
}

.button {
    padding: 10px 15px;
    border: none;
    border-radius: 50px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.imagePreview {
    margin-top: 10px;
    max-width: 100%;
    max-height: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.imagesContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.deleteImageForm,
.deleteImageForm:hover {
    background: none;
}

.inputFile {
    display: none;
}

.customUploadButton {
    /* display: inline-block; */
    padding: 5px 10px;
    background-color: #7F8C8D;
    color: white;
    font-size: 16px;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.customUploadButton:hover {
    background-color: #566573;
    ;
}