/* src/components/AddProduct.module.css */

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.form {
    display: flex;
    flex-direction: column;
}

.formGroup {
    margin-bottom: 15px;
}

.label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input,
.textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.textarea {
    height: 100px;
    resize: vertical;
}

.button {
    padding: 10px 15px;
    border: none;
    border-radius: 50px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.imagePreview {
    margin-top: 10px;
    max-width: 100%;
    max-height: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.imagesContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.deleteImageForm,
.deleteImageForm:hover {
    background: none;
}

.inputFile {
    display: none;
}

.customUploadButton {
    /* display: inline-block; */
    padding: 5px 10px;
    background-color: #7F8C8D;
    color: white;
    font-size: 16px;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.customUploadButton:hover {
    background-color: #566573;
    ;
}

/* ======================================== */

/* styles/ProductForm.module.css */

/* .formGroup {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
} */

.select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
    color: #333;
    appearance: none;
    /* Видаляє стилі браузера для селекту */
}

.select:focus {
    border-color: #0070f3;
    /* Колір рамки при фокусі */
    outline: none;
    box-shadow: 0 0 5px rgba(0, 112, 243, 0.5);
    /* Світіння при фокусі */
}

/* option {
    padding: 10px;
    background-color: #fff;
    color: #333;
    font-size: 16px;
} */

/* option:disabled {
    font-weight: bold;
    color: #999;
} */

/* Стилі для заголовків категорій (disabled опції) */
.categoryHeader {
    font-weight: bold;
    background-color: #f0f0f0;
    color: #555;
}

/* Додатковий стиль для активної опції */
.optionActive {
    background-color: #0070f3;
    color: #fff;
}