.productDetails {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

.slider {
    width: 90%;
    margin-bottom: 20px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.imageContainer {
    display: flex;
    justify-content: center;
}

.productImage {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 5px;
}

.productName {
    font-size: 2rem;
}

.productDescription {
    font-size: 1.2rem;
}

.productPrice {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}