.footer {
    background-color: #1D2533;
    padding: 20px 0px;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

.desktopFooter {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 10px;
}

.desctopContainer,
.policiesContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contactInfo p {
    color: #fff;
}

.socialMedia a:not(:last-child) {
    margin-right: 10px;
}

.policies a:not(:last-child) {
    margin-right: 10px;
}

.policies a,
.rightsReserved p {
    color: silver;
    font-size: small;
}

.policies a:hover {
    color: #1e90ff;
}

.facebook,
.instagram,
.viber {
    fill: #fff;
    transition: fill 0.3s ease;
}

.facebook:hover {
    fill: #1e90ff;
}

.instagram:hover {
    fill: #cc2366;
}

.viber:hover {
    fill: #b81eff;
}

.lightFooterSection {
    background-color: #2A3445;
    color: #fff;
    padding: 10px 0;
}

@media (max-width: 768px) {
    .footer {
        position: sticky;
        padding: 20px;
    }

    .lightFooterSection {
        display: none;
    }
}