.header {
    background-color: #1D2533;
    padding: 15px 0px 15px 0px;
    width: 100%;
    margin-bottom: 20px;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 10px;
}

.iconContainer {
    display: flex;
    align-items: center;
}

.searchButton,
.searchButton:hover {
    background: none;
    border: none;
    padding: 0;
    margin-right: 20px;
}

.headerIcon {
    width: 24px;
    height: 24px;
    fill: #fff;
    transition: fill 0.3s ease;
}

.headerIcon:hover {
    fill: #1e90ff;
}

.defaultIcon {
    width: 24px;
    height: 24px;
    border-radius: 50px;
    cursor: pointer;
}

.authIconContainer {
    position: relative;
}

.dropdownMenu {
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    list-style: none;
    margin: 0;
    padding: 20px;
    border-radius: 4px;
}

.dropdownMenu li a {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

.dropdownMenu li a:hover {
    color: #ddd;
}