.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1D2533;
    padding: 10px 20px;
    width: 100%;
    margin-bottom: 20px;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 10px;
}

.iconContainer {
    display: flex;
    align-items: center;
}

.searchButton,
.searchButton:hover {
    background: none;
    border: none;
    padding: 0;
}

.headerIcon {
    width: 24px;
    height: 24px;
    margin-right: 20px;
    fill: #fff;
    transition: fill 0.3s ease;
}

.headerIcon:hover {
    fill: #1e90ff;
}

.defaultIcon {
    width: 24px;
    height: 24px;
    border-radius: 50px;
}

.profileIcon.authenticated {
    fill: green;
}

.searchInput {
    padding: 10px;
    width: 80%;
    max-width: 500px;
    border: 1px solid #585858;
    border-radius: 50px;
    margin-bottom: 20px;
    font-size: 16px;
    background-color: #313233;
    color: #fff;
    caret-color: #fff;
}

.searchInput::placeholder {
    color: #ddd;
}

.searchResults {
    margin-top: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    max-height: 200px;
    overflow-y: auto;
    list-style: none;
    padding: 0;
}

.searchResultItem {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.searchResultItem a {
    text-decoration: none;
    color: #333;
}

.searchResultItem:hover {
    background-color: #f0f0f0;
}