.layout {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

.layoutContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-top: 60px;
}

.main {
    flex: 1;
}

@media (max-width: 768px) {
    .layoutContent {
        padding-bottom: 70px;
    }
}