.container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.cartContainer {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}

.cartItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cartImage {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 10px;
}

.itemName {
    flex: 2;
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
}

.cartPrice {
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
}

.quantityContainer {
    display: flex;
}

.quantityButtonContainer {
    display: flex;
    border-radius: 50px;
    margin-right: 10px;
    background-color: rgba(148, 102, 255, 1);
}

.cartPriceConteaner {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.quantityButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: none;
    background: none;
}

.quantityButton:hover {
    background: none;
}

.quantity {
    font-size: 16px;
    margin: 0 10px;
}

.totalPrice {
    font-size: 16px;
    font-weight: bold;
    color: #28a745;
}

.grandTotal {
    font-size: 20px;
    font-weight: bold;
    color: #d9534f;
    text-align: center;
    margin-top: 20px;

}

.buttonContainer {
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
}

.actionButtonContainer {
    margin-bottom: 20px;
}

.actionButton {
    padding: 10px 20px;
    font-size: 16px;
    width: 100%;
}

.emptyCartMessage {
    text-align: center;
    margin-top: 20px;
}

.emptyCartMessage p {
    font-size: 16px;
    margin-bottom: 10px;
}

.deleteOrder,
.deleteOrder:hover {
    background: none;
    padding: 0;
    fill: #5f6368;

}

.cartTitle {
    text-align: center;
}

.cartButton {
    margin: 0 auto;
}