/* Загальні стилі для списку замовлень */
.orderList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Стиль для кожного замовлення */
.orderItem {
    border: 1px solid #ddd;
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 8px;
    background-color: #f9f9f9;
}

/* Стиль для імені покупця */
.buyerName {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

/* Стиль для електронної пошти покупця */
.buyerEmail {
    font-size: 16px;
    margin-bottom: 8px;
}

/* Стиль для телефону покупця */
.buyerPhone {
    font-size: 16px;
    margin-bottom: 16px;
}

/* Стиль для списку продуктів всередині замовлення */
.product {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Стиль для кожного продукту */
.product li {
    border-top: 1px solid #ddd;
    padding: 8px 0;
    display: flex;
    align-items: center;
}

/* Стиль для імені продукту */
.productName {
    font-size: 16px;
    flex: 1;
}

/* Стиль для ціни продукту */
.productPrice {
    font-size: 16px;
    flex: 1;
}

/* Стиль для кількості продукту */
.productQuantity {
    font-size: 16px;
    flex: 1;
}

/* Стиль для зображення продукту */
.productImage {
    width: 50px;
    height: auto;
    margin-left: 16px;
    border-radius: 4px;
}