.orderList {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.orderItem {
    width: 100%;
    max-width: 600px;
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.orderTitle {
    font-size: 1.25rem;
    color: #333;
    margin-bottom: 10px;
    font-weight: bold;
    border-bottom: 2px solid #0070f3;
    padding-bottom: 5px;
}

.orderReplica {
    font-size: 1rem;
    color: #555;
}

.orderReplica span {
    font-weight: bold;
    color: #000;
    margin-left: 5px;
}

.product {
    padding: 0;
    margin: 20px 0 0 0;
}

.productImage {
    border-radius: 4px;
    object-fit: cover;
    width: 50px;
    height: 50px;
}

.productImageModal {
    width: 300px;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px;
}

.productImageButton,
.productImageButton:hover {
    background: none;
    padding: 0;
}

.buttonContainer {
    text-align: center;
}

.modalButtonOpen {
    background-color: brown;
}

.modalButtonOpen:hover {
    background-color: rgb(142, 37, 37);
}

.modalContainer {
    padding: 10px;
    margin: 0 auto;
}

.modalText {
    margin-right: 10px;
    margin-bottom: 10px;
}

.modalButtonContainer {
    display: flex;
    justify-content: center;
}