.paymentContainer {
    display: flex;
    flex-direction: column;
}

.option {
    padding: 5px 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: border-color 0.2s, background-color 0.2s;
    font-size: 16px;
    user-select: none;
    margin-bottom: 10px;
}

.option:hover {
    border-color: #888;
}

.selected {
    border-color: #0a75c2;
    background-color: #e7f3ff;
}

.hiddenRadio {
    display: none;
}