/* .authContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
} */

.authForm {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

.authHeading {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.authInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}