.authForm {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: center;
}

.authHeading {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.authInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 50px;
    box-sizing: border-box;
    font-size: 16px;
}

.authButton {
    border-radius: 50px;
    margin-bottom: 20px;
    width: 150px;
}

.authText {
    margin-right: 10px;
}

/* src/components/styles/Auth.module.css */

.logout,
.logout:hover {
    background: none;
    border: none;
    cursor: pointer;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    max-width: 300px;
    width: 100%;
}

.modalButtons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.modalButtons button {
    padding: 8px;
    border: none;
    cursor: pointer;
    width: 100px;
}

.modalButtons button:first-child {
    background-color: #d9534f;
}