.errorText {
    color: red;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.errorInput {
    outline: 1px solid red;
}

.authForm {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: center;
}

.authHeading {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.authInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 50px;
    box-sizing: border-box;
    font-size: 16px;
}

.authButtonConteaner {
    position: fixed;
    bottom: 526px;
    right: 80px;
    z-index: 1;
}

.authText {
    margin-right: 10px;
    background-color: #fff;
    padding: 5px;
    border-radius: 50px;
}

.authButton {
    border-radius: 50px;
    margin-bottom: 20px;
    width: 150px;
}

.logout {
    color: #fff;
    cursor: pointer;
}

.logout:hover {
    color: #ddd;
}

.modalContainer {
    padding: 20px;
}

.modalText {
    margin-bottom: 10px;
}

.modalButtons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.modalButtons button {
    padding: 8px;
    border: none;
    cursor: pointer;
    width: 100px;
}

.modalButtons button:first-child {
    background-color: #d9534f;
}

.showLogin {
    display: none;
}

.icon {
    width: 25px;
    height: 24px;
    fill: #fff;
    transition: fill 0.3s ease;
}

.icon:hover {
    fill: #1e90ff;
}