.googleAuthButton {
    background-color: gray;
    border-radius: 50px;
}

.googleAuthButton:hover {
    background-color: rgb(102, 102, 102);
}

.googleAuthContent {
    display: flex;
    align-items: center;
}

.googleIcon {
    margin-right: 10px;
}