@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

a {
    color: rgba(148, 102, 255, 1);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1200px;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 10px;
}

button {
    background-color: rgba(148, 102, 255, 1);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 50rem;
    cursor: pointer;
}

button:hover {
    background-color: rgb(135, 83, 255);
}

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

/* Nav Icons media */

.desktop-only {
    display: none;
}

.mobile-only {
    display: block;
}

@media (min-width: 768px) {
    .desktop-only {
        display: block;
    }

    .mobile-only {
        display: none;
    }
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.product-item {
    flex: 1 1 calc(33.333% - 10px);
    box-sizing: border-box;
    min-width: 150px;
}

.product-children {
    flex: 1 1 calc(33.333% - 10px);
    box-sizing: border-box;
    min-width: 150px;
}